s/* GLOBALS */
body
{
    font-family: 'Roboto', sans-serif;
}

/* UTIL */
.whatsapp-color
{
    color: #43d854;
}
.spacer.half
{
    height: 27.5px;
}
.bg-blue
{
    background-color: #51709b;
}
.text-white
{
    color: white;
}
.text-success
{
    color: #5cb85c;
}
.text-big
{
    font-size: 40px;
}
.thanks-message
{
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;

    color: #4d4d4d;
}
.thanks-title
{
    font-size: 100px;
    font-weight: 300;
}
.thanks-body
{
    font-size: 20px;
    font-weight: 300;
}
/* FORMS */
button,
input[type='text'],
input[type='cantidad'],
select.form-select,
input[type='submit'],
input[type='tel'],
input[type='email']
{
    margin-right: 1px;

    -webkit-transition: background-color .5s ease-out;
       -moz-transition: background-color .5s ease-out;
         -o-transition: background-color .5s ease-out;
            transition: background-color .5s ease-out;

    color: whitesmoke;
    border: 0;
    background: #2f2f2f;
}

textarea.form-textarea.form-control
{
    -webkit-transition: background-color .5s ease-out;
       -moz-transition: background-color .5s ease-out;
         -o-transition: background-color .5s ease-out;
            transition: background-color .5s ease-out;
}

button,
input[type='text']:hover,
input[type='cantidad']:hover,
select.form-select:hover,
textarea.form-textarea.form-control:hover,
input[type='submit']:hover,
input[type='tel']:hover,
input[type='email']:hover
{
    background: #00559d;
}
textarea.form-textarea.form-control:hover
{
    color: whitesmoke;
}

.form-control
{
    border-radius: 0;
}

/* COUNTDOWN TIMER */
#countdown-container
{
    font-size: 2em;

    text-align: center;
}

#countdown-timer
{
    font-size: 1.5em;
    line-height: 1.2em;

    margin: 0 0;
    padding: 0;

    text-align: center;

    color: #333;
    border-top: 2px solid #414141;
    border-bottom: 2px solid #414141;
}

/* SECTIONS */
.section-header
{
    padding: 10px 20px;

    color: white;
    background-color: #414141;
}
.section-header .section-header__img-container
{
    position: relative;
}
.section-header .section-header__body
{
    font-size: 15px;

    text-align: justify;
}

.section-header--blue
{
    background-color: #51709b;
}
.section-header--blue-fourth
{
    background-color: #3c5588;
}
.section-header--blue-fifth
{
    background-color: #00346a;
}
.section-header--blue-sixth
{
    background-color: #2c4aaf;
}
.section-header--blue-seventh
{
    background-color: #31559e;
}
.section-header--black
{
    background-color: #282828;
}
.section-feature .section-feature__heading
{
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;

    padding: 5px 0 5px 5px;

    text-decoration: none;

    color: #414141;
    border-left: 3px solid #414141;
}
.section-feature .section-feature__description
{
    padding: 3px 0 0 5px;

    text-align: justify;

    border-top: 1px solid #414141;
}

.section-feature .section-feature__money-symbol
{
    font-size: 45px;

    color: #51709b;
}
.section-feature-vertical .section-feature-vertical__heading
{
    text-align: center;
}
.section-feature-vertical .section-feature-vertical__description
{
    margin: 10px;
    padding: 2px;

    text-align: center;

    border-bottom: 1px solid #414141;
    border-left: 3px solid #414141;
}
.section-feature-vertical .section-feature-vertical__description span
{
    font-size: 30px;
    font-weight: bold;
}
.section-list
{
    margin-left: -25px;

    list-style-type: circle;
}

.section .people-counter
{
    font-size: 20px;

    margin: 35px 0;
}

.section .circunstancias
{
    font-size: 20px;

    margin: 35px 0;
}

.section .people-counter__number
{
    font-size: 4em;
}

.section .logos-grid
{
    margin: 40px 0;
}

.section .logos-grid__img
{
    cursor: pointer;

    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}

.section .logos-grid__img:hover
{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

.section-title
{
    font-size: 35px;

    margin-bottom: 40px;

    color: #444;
}

.section-title--white
{
    color: white;
}

.section .offer-summary
{
    margin: 40px 0;
}

.section .offer-summary__text
{
    font-size: 24px;
}

.section .offer-summary__list
{
    font-size: 18px;
}

.section .offer-summary__list--big
{
    font-size: 20px;
}

.section .reference-bonus
{
    font-size: 18px;

    margin: 30px 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px)
{
    #form-mobile
    {
        margin-top: 20px;
    }
    .thanks-title
    {
        font-size: 60px;
        font-weight: 300;
    }
    .section-feature .section-feature__image
    {
        text-align: center;
    }
    .section-feature .section-feature__image .img-responsive
    {
        margin: 0 auto;
    }
    .section-header .section-header__img-container
    {
        text-align: center;
    }
    .section-header .section-header__img-container .img-responsive
    {
        margin: 0 auto;
    }
    .section-header .section-header__heading
    {
        text-align: center;
    }
    .section-header .section-header_business-guy
    {
        display: none;
    }
    .section .logos-grid
    {
        text-align: center;
    }
    .section .logos-grid__img
    {
        margin: 15px auto;
    }
}
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px)
{
    .thanks-title
    {
        font-size: 80px;
        font-weight: 300;
    }
    .section-header .section-header__img-container
    {
        margin: 0;

        text-align: left;
    }
    .section-header .section-header__heading
    {
        text-align: right;
    }
    .section-header .section-header_business-guy
    {
        display: block;
    }
    .section-feature .section-feature__image
    {
        text-align: left;
    }
    .section-feature .section-feature__image .img-responsive
    {
        margin: 0;
    }
    .section .logos-grid__img
    {
        display: inline-block;

        margin: 0 50px;
    }
}
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1920px)
{
}
